<h1>タスク一覧</h1>

<ul>
  <% @talks.each do |talk| %>
    <li><%= link_to talk.id, talk %> :
        <%= talk.content %> ( <%= talk.status %> )</li>
  <% end %>
</ul>

<%= link_to 'Make new task', new_talk_path %>